*{
    margin: 0;
    padding: 0;
}

.note{
    display: block;
    left: 200px;
    width: 70px;
    height: 65px;
    border-right: 10px solid #FF004c;
    border-left: 10px solid #FF004c;
    border-top: 20px solid #FF004c;
    position: relative;
    box-sizing: border-box;
    margin: 15px;
}
.text{
    display: block;
    position: absolute;
    top: 120px;
    width: 100px;
    height: 20px;
    left: 210px;
    color: #FF004c;
}

.note:before{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: #FF004c;
    border-radius: 15px;
    position: absolute;
    right: -10px;
    bottom: -19px;
}

.note:after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: #FF004c;
    border-radius: 15px;
    position: absolute;
    left: -30px;
    bottom: -11px;


}